.game-box--start {
	background-image: url('@/static/images/start-bg_magic.jpeg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	&-fpg {
		position: absolute;
		width: 10%;
		top: 10%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&-goBack {
		right: 11.72rpx;
		margin-top: -1px;
		&-btn {
			color: lightgray !important;
			border-color: lightgray !important;
			border-top: none !important;
			letter-spacing: 2.93rpx;
		}
	}
	&-footer {
		&-btn {
			color: #fff;
			border-radius: 5px;
			font-weight: 500;
			background: transparent;
			cursor: pointer;
			transition: all 0.3s ease;
			position: relative;
			display: inline-block;
			box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
		}
		.btn-noL {
			background: rgb(22, 9, 240);
			background: linear-gradient(0deg, rgba(22, 9, 240, 1) 0%, rgba(49, 110, 244, 1) 100%);
			color: lightgray;
			border: none;
			transition: all 0.3s ease;
			overflow: hidden;
		}
		.btn-L {
			color: #fff;
			border: none;
			background: rgba(2, 126, 251, 1);
		}
	}
}

.game-box--person-active {
	transform: scale(1.2);
}
